---
import { getRelativeLocaleUrl } from "astro:i18n";
import {
  PUBLIC_COMPANY_NAME,
  PUBLIC_COMPANY_EMAIL,
  PUBLIC_COMPANY_PHONE,
  PUBLIC_COMPANY_LINKEDIN,
} from "astro:env/client";
import CustomIcon from "@components/CustomIcon.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const emailLink = `mailto:${PUBLIC_COMPANY_EMAIL}?subject=${t("footer.email.subject")}&body=${t("footer.contact.body")}`;
const phoneLink = `https://wa.me/${PUBLIC_COMPANY_PHONE}?text=${t("footer.contact.body")}`;
---

<footer id="footer" class="footer-section">
  <div class="footer-content">
    <a
      class="footer-logo-link"
      href={getRelativeLocaleUrl(lang, "/")}
      title={PUBLIC_COMPANY_NAME}
    >
      <CustomIcon
        name="full-logo-alt"
        label={PUBLIC_COMPANY_NAME}
        width="250"
        height="100"
      />
    </a>

    <div class="contact-container">
      <a
        class="contact-container-link social-media-link"
        href={PUBLIC_COMPANY_LINKEDIN}
        title={t("footer.company.title")}
        target="_blank"
        rel="noopener noreferrer"
      >
        <CustomIcon
          name="linkedin-alt"
          label={t("footer.company.title")}
          width="32"
          height="32"
        />
        <p class="contact-container-text">{PUBLIC_COMPANY_NAME}</p>
      </a>

      <a
        class="contact-container-link email-link"
        href={emailLink}
        title={t("footer.email.title")}
      >
        <CustomIcon
          name="mail"
          label={t("footer.email.title")}
          width="32"
          height="32"
        />
        <p class="contact-container-text">{PUBLIC_COMPANY_EMAIL}</p>
      </a>

      <a
        class="contact-container-link phone-link"
        href={phoneLink}
        title={t("footer.phone.title")}
        target="_blank"
        rel="noopener noreferrer"
      >
        <CustomIcon name="phone" label="Telefono" width="32" height="32" />
        <p class="contact-container-text">{t("footer.phone.text")}</p>
      </a>
    </div>
  </div>

  <p class="copyright">{t("footer.copyright.text")}</p>
</footer>

<style>
  .footer-section {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
  }
  .footer-content {
    width: 100%;
    height: auto;
    padding: 48px 16px;
  }
  .footer-logo-link,
  .contact-container-link {
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: var(--lightest-color);
  }
  .contact-container-link:last-of-type {
    margin-bottom: 0;
  }
  .contact-container-text {
    margin: 0;
    font-weight: 500;
    color: var(--lightest-color);
  }
  .copyright {
    padding: 8px;
    margin: 0;
    line-height: 16px;
    text-align: center;
    font-size: var(--fs-sm);
    color: var(--lightest-color);
    font-weight: 200;
  }

  @media (width >= 768px) {
    .footer-content {
      padding: 24px 16px;
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .footer-logo-link {
      margin: 0;
      svg {
        width: 300px;
        height: 100px;
      }
    }
    .contact-container {
      margin-top: 16px;
    }
    .contact-container-text {
      font-size: 1.8rem;
    }
    .contact-container-link {
      margin-bottom: 24px;
      gap: 12px;
      transform: scale(1);
      transition: transform 0.3s ease;
      svg {
        width: 34px;
        height: 34px;
      }
    }
    .contact-container-link:hover {
      transform: scale(1.03);
    }
  }
</style>
